<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Veterinário</title>
  <link rel="stylesheet" href="/static/css/CadastroVet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="title1 title-primary">Seja Bem vindo(a)</h2>
        <h2 class="title1 title-primary">{{ veterinario.nome }}</h2>
        
      </div>
      <div class="second-column">
        <a href="/home/templates/home.html"><img src="/static/img/logo.png" width="250"></a>
        <h2 class="title2 title-second">Dados Cadastrados</h2>
        <form class="form">
            <h2><br></h2>
            <h2 class="title2 title-second">
                Nome: {{ veterinario.nome }}
            </h2>
            <h2 class="title2 title-second">
                E-mail: {{ veterinario.email }}
            </h2>
            <h2 class="title2 title-second">
                CPF: {{ veterinario.cpf }}
            </h2>
            <h2 class="title2 title-second">
                Endereço: {{ veterinario.endereco }}
            </h2>
            <h2 class="title2 title-second">
                CRMV: {{ veterinario.crmv }}
            </h2>
            <h2 class="title2 title-second">
                Cidade: {{ veterinario.cidade }}
            </h2>
            <h2 class="title2 title-second">
                Estado: {{ veterinario.estado }}
            </h2>
            <h2 class="title2 title-second">
                Especialidade: {{ veterinario.especialidade }}
            </h2>
            <h2 class="title2 title-second">
                Telefone: {{ veterinario.telefone }}
            </h2>
            
        </form>
        <table>
            <tr>
                <th width="200px">
                    <a href=""> <button class="btn btn-second">Editar</button> </a>
                </th>
                <th width="200px">
                    <a href=""> <button  type="submit" class="btn btn-second">Excluir Conta</button> </a>
                </th>
                <th width="200px">
                    <a href=""> <button  type="submit" class="btn btn-second">Logout</button> </a>
                </th>
            </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>