.bg {
	display: flex;
	height: 100%;
	padding-bottom: 40px;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content h2 {

	font-size: 2.5rem;
	color: #3e3e3e;
	font-weight: 600;
	margin: 20px 0;
	
}
.content h2 span {
	color: #ffc533;
}
.content p {
	color: #3e3e3e;
	font-size: 1.25rem;
	font-weight: 500;
}
.form {
	width: 100%;
	max-width: 780px;
	display: flex;
}
.form .search {
	width: 100%; /* Mantém a largura do campo de pesquisa */
  max-width: 650px;
  background: #fff;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
  display: flex;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  
}
.form .search input {
	flex-grow: 1;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
  }
  
  .form .button-small {
	width: auto; /* Reduz a largura do botão para se ajustar ao conteúdo */
	height: 50px;
	background: #ffc533;
	color: black;
	font-weight: 400;
	border: 0;
	border-radius: 4px;
  }

.form .search img {
	width: 26px;
	margin: 0 20px;
}
.form .search input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
}
.form .search input::placeholder {
	font-weight: 400;
	color: #a6a6a6;
}

.tags {
	margin: 10px 0;
}
.tags span {
	font-size: 0.875rem;
	font-weight: 400;
	color:black;
	border: 1px solid #ccc;
	padding: 0px;
	border-radius: 3px;
	margin: 6px;
}
#botao {
	width: 50px;
	height: 50px;
	border-radius: 50%; /* Deixa o botão redondo */
	background-color: #ffc533;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  #botao img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	display: block;
	margin: auto; /* Centraliza a imagem horizontalmente */
  }
 
  p#txtgreen{
	color: #22a4bc;
  }

  #search-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 150px;
	padding-right: 150px;
  }
  
  .result-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2px;
	width: 100%;
  }
  
  .search-result {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc(50% - 10px); /* Ajuste o espaçamento conforme necessário */
	margin:10px;
  }
  
  .result-image {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 300px;
	margin-bottom: 10px;
	
  }
  