
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Usuário</title>
  <link rel="stylesheet" href="/static/css/CadastroVet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="title1 title-primary">Seja Bem vindo(a)</h2>
        <h2 class="title1 title-primary">{{ usuario.nome }}</h2>

      </div>
      <div class="second-column">
        <table>
          <tr>
            <th width="400px">
              <a href="/home/templates/home.html"><img src="/static/img/logo.png" width="250"></a>
            </th>
            <th width="200px">
              <a href="#"> <button type="submit" class="btn btn-second"
                style="width: 170px; height: 60px; padding: 0%; font-size: 14px;">Logout</button> </a>
            </th>
          </tr>
        </table>
        
        

        <form class="form">

          <h2><br></h2>
          
          <h2 class="title2 title-second">
            Nome: {{ usuario.nome }}
          </h2>
          
            
          
          <h2 class="title2 title-second">
            E-mail: {{ usuario.email }}
          </h2>


        </form>
        <table>
          <tr>
            <th width="200px">
              <a href="/home/templates/home.html"> <button class="btn btn-second" 
                style="width: 170px; height: 80px; padding: 0%; font-size: 14px;">Home</button> </a>
            </th>
            <th width="200px">
              <a href="#"> <button type="submit" class="btn btn-second" 
                style="width: 170px; height: 80px; padding: 0%; font-size: 14px;">Meus Pets <br> (em construção)</button> </a>
            </th>
            <th width="200px">
              <a href="#"> <button type="submit" class="btn btn-second" 
                style="width: 170px; height: 80px; padding: 0%; font-size: 14px;">Vacinas <br> (em construção)</button> </a>
            </th>
          </tr>   
          <tr>
            <th width="200px">
              <a href="editar_usuario.html"> <button class="btn btn-second"
                style="width: 170px; height: 80px; padding: 0%; font-size: 14px;">Atualizar <br> Dados</button>
              </a>
            </th>
            <th width="200px">
              <a href="#"> <button type="submit" class="btn btn-second"
                style="width: 170px; height: 80px; padding: 0%; font-size: 14px;">Excluir <br>
                  Conta</button> </a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>